@font-face {
    font-family: Eulyoo1945_Regular;
    font-style: normal;
    src: url('/fonts/Eulyoo1945-Regular.woff');
}

@font-face {
    font-family: Eulyoo1945_SemiBold;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Eulyoo1945-SemiBold.woff');
}

@font-face {
    font-family: Pretendard-Regular;
    font-style: normal;
    src: url('/fonts/Pretendard-Regular.woff');
}

@font-face {
    font-family: Libre-Baskerville;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Libre-Baskerville.woff');
}


.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    height: 100vh;
    overflow: hidden;   /* 전체 스크롤 제거 */
}

.left_container{
    display: grid;
    grid-row: 1fr 6fr 2fr;
    height: 100vh;
    background: black;
    color: #FFF8E9;
}

.right_container{
    display: grid;
    height: 100vh;
    background: #FFF8E9;
    color: black;
}

.title{
    /* 1) 요소 크기를 내용에 딱 맞게 */
    display: inline-block;
    
    /* 2) 그리드 cell 내에서 왼쪽 위로만 배치(늘어남 방지) */ 
    justify-self: start;
    align-self: start; 
    
    margin-top: 60px;
    margin-left: 80px;
    font-size: x-large;
    line-height: 1.5;
    color: white;
}

.title_ko{
    font-family: 'Eulyoo1945_SemiBold';
    font-size: 32px;
}
  
.title_en{
    font-family: 'Libre-Baskerville';
    font-style: italic;
    font-size: 32px;
}

.img{
    width: 440px;
    height: 440px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.chapter{
    display: inline-block;
    margin: 5px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    font-size: 15px;
    color: #2D2A28;
    margin: 0px;
}

.chapter_space{
    display: inline-block;
    width: 24px
}

.content{
    margin: 10%;
    padding-bottom: 30%;
    line-height: 1.8em;
    
    font-weight: normal;
    font-family: 'Eulyoo1945_Regular';
    font-size: 16px;
    color: #2D2A28;

    white-space: pre-wrap;
    overflow-y: auto;
    position: relative;

    mask-image: linear-gradient(
      to bottom,
      rgba(0,0,0,1) 90%,
      rgba(0,0,0,0) 100%
    );

    /* mask-image: linear-gradient(#FFF8E9 50.62%, rgba(255, 248, 233, 0.00) 0%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat; */
}


.page{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0;
    margin: 0 0 0 80px;
    height: 80px;

    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #2D2A28;
}

.button{
    position: fixed;
    bottom: 50px;
    right: 20px;
}

.upbtn{
    cursor: pointer;
}

.upbtn:hover {
    content: url('https://norwegianwood-music.s3.ap-northeast-2.amazonaws.com/img/Direction%3DUp%2C+Mouse+Hover%3DYes.png');
}

.downbtn{
    cursor: pointer;
}

.downbtn:hover {
    content: url('https://norwegianwood-music.s3.ap-northeast-2.amazonaws.com/img/Direction%3DDown%2C+Mouse+Hover%3DYes.png');
}


.Libre_font{
    margin: 0px;
    font-family: 'Libre-Baskerville';
    font-style: italic;
    color: #2D2A28;
}

.Libre_super{
    margin: 0px;
    font-family: 'Libre-Baskerville';
    vertical-align: super;
    font-size: x-small;
    font-style: italic;
    color: #2D2A28;
}